<footer>
	<nav class="round">
		<ul>
		<li>Gerência de Informática</li>
		<li><%= link_to 'Grupo hospitalar Conceição', 'http://www.ghc.com.br' %></li>
		<li id="hoje_footer"><%=DateTime.now.strftime('%c')%></li>
		</ul>
	</nav>
</footer>

